<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" keyboard-resize="true">
  <form (submit)="onLogin(email.value, password.value); $event.preventDefault();">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/profile" type="submit" expand="block">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a routerLink="/forgot-password">¿Se te olvidó tu contraseña?</a>
        </p>
      </ion-col>
    </ion-row>
    <span class="center-span">o</span>
  </form>
  
  <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a routerLink="/sign-up">Crea una cuenta</a>
      </p>
    </ion-col>
  </ion-row>
  
  <!-- Contenedor para el botón de Volver -->
  <div class="volver-container">
    <ion-button routerLink="/home" fill="clear"> <!-- Cambia "/previous-page" por la ruta correcta -->
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      Volver
    </ion-button>
  </div>
</ion-content>
