.center-span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px; /* Ajusta el margen superior si lo necesitas */
}

.volver-container {
    position: fixed;
    bottom: 10px; /* Ajusta la distancia desde la parte inferior */
    right: 10px; /* Ajusta la distancia desde la parte derecha */
    background-color: #fbb41c; /* Color de fondo para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    padding: 2px; /* Espaciado interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    z-index: 6; /* Asegúrate de que esté por encima de otros elementos */
}
