<ion-content>
  <form (submit)="onResetPassword(email)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Restablecer contraseña</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <a routerLink="/sign-in">Cancelar</a>
  
  <!-- Mensaje de retroalimentación -->
  <div *ngIf="message">{{ message }}</div>
</ion-content>
