<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" keyboard-resize="true">
  <form (submit)="onResetPassword(email.value); $event.preventDefault();">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Restablecer contraseña</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <!-- Mensaje de retroalimentación -->
  <div *ngIf="message" class="message">{{ message }}</div>

  <!-- Contenedor para el botón de Volver -->
  <div class="volver-container">
    <ion-button routerLink="/sign-in" fill="clear"> <!-- Cambia "/previous-page" por la ruta correcta -->
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      Volver
    </ion-button>
  </div>
</ion-content>
