/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* Comentar o eliminar la línea que causa problemas */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */ // Asegúrate de que esta línea también sea válida.

ion-content {
    --background: #163349; /* Fondo oscuro */
    color: #fbb41c; /* Color de texto */
  }
  
  ion-button {
    --background: #fbb41c; /* Botón amarillo */
    color: #163349; /* Texto oscuro en botón */
  }
  
  ion-item {
    color: #fbb41c; /* Texto en ítems */
    border-radius: 8px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  p {
    color: #fbb41c;
  }
  
  .scanner-active {
    ion-content {
      opacity: 0;
    }
  }
  