<ion-header [translucent]="false"> <!-- Cambia a false para evitar la translucidez -->
  <ion-toolbar class="toolbar-duoc"> <!-- Clase para aplicar estilo CSS -->
    <ion-title>
      Register APP
    </ion-title>
    <ion-buttons slot="end"> <!-- Botones a la derecha -->
      <ion-button routerLink="/sign-in">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/sign-up">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Logo Duoc UC grande con texto debajo -->
  <div style="text-align: center; margin-top: 50px;">
    <img src="assets/logo-duoc.png" alt="Logo Duoc UC" style="width: 200px; margin-bottom: 20px;">
    <p style="font-size: 1.5rem;" routerLink="/sign-in">Scanner QR de Asistencia</p>
  </div>
</ion-content>
